<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyl.travel.mapper.UserMapper">

    <select id="findByUsername" resultType="user">
        select * from tab_user where username = #{username}
    </select>
    <select id="findByUsernameAndPassword" resultType="user" parameterType="user">
        select * from tab_user where username = #{username} and password = #{password}
    </select>
    <insert id="saveUser" parameterType="user">
        insert into tab_user(username, password, name, birthday, sex, telephone, email, status, code)
        values(#{username},#{password},#{name},#{birthday},#{sex},#{telephone},#{email},#{status},#{code})
    </insert>
</mapper>